@charset "UTF-8";

:root {
	--colorB1: #000;
	--colorB2: #999;
	--colorB3: #C7C7C7;
	--colorB4: #E6E6E6;
	--colorB5: #fff;
	--colorM1: #131946;
	--colorM2: #25318D;
	--colorM3: #384AD3;
	--colorM4: #8F98E2;
	--colorM5: #B5BCF0;
	--colorS1: #500;
	--colorS2: #A00;
	--colorS3: #F00;
	--colorS4: #FF8080;
	--colorS5: #FAA;

	font-family: 'BIZ UDPGothic', sans-serif;
}

.html {
	font-size: 16px;
	line-height: 24px;
}

body {
	display: flex;
	/* footer を下に張り付かせるための設定 */
	flex-direction: column;
	min-height: 100vh;
	/* margin: 0 にしないと変なすきまが空く*/
	margin: 0;
	font-size: 1rem;
	line-height: 1.5em;
}

h1,
h2 {
	white-space: nowrap;
	line-height: 2em;
	text-align: center;
}

h1 {
	color: white;
	background: var(--colorM2);
	font-size: 3rem;
}

h2 {
	border-bottom: solid thick var(--colorM2);
	font-size: 2.5rem;
}

h3 {
	padding-left: 1em;
	border-left: thick solid var(--colorM2);
	font-size: 1.5rem;
	line-height: 2em;
	font-weight: bold;
	background-color: var(--colorB3);
}

p {
	text-indent: 1em;
}

footer {
	height: 100px;
	padding-top: 1em;
	border-top: thick solid var(--colorB2);
	margin-top: 1em;
	background-color: var(--colorB3);
}

.center {
	text-align: center;
}

section,
.container {
	width: 1100px;
	padding: 0 2rem;
	margin: 0 auto;
}

input {
	font-size: 1rem;
	text-align: right;
	font-family: 'BIZ UDGothic', sans-serif;
}

button {
	font-size: 1rem;
}

textarea {
	font-size: 1rem;
	font-family: 'BIZ UDGothic', sans-serif;
}

.adventurer input {
	vertical-align: middle;
	font-size: 1.5rem;
	font-weight: bold;
	width: 1.5em
}

.CharacterName input {
	vertical-align: middle;
	text-align: left;
	font-size: 1.5rem;
	width: 70%;
}

.status input {
	width: 1.75rem
}

.Warrior input,
.Magic input,
.others input,
.CLv input {
	width: 1.25em;
}

.CName input {
	width: 13em;
	text-align: left;
}

#features input {
	text-align: center;
	width: 16em;
}

.generating textarea {
	width: 100%;
	height: 30em;
	resize: none;
}

.output fieldset {
	text-align: center;
}

.output legend {
	text-align: left;
}

.output button {
	width: 49%;
	font-size: 1.5rem;
}

#amazon {
	width: 150px;
	padding: 0 2em;
	float: left;
	position: relative;
	top: 5px;
}

.buttonA a {
	position: relative;
	display: inline-block;
	cursor: pointer;
	user-select: none;
	transition: all 0.3s;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	border-radius: 0px;
}

.buttonAb a {
	margin-bottom: 15px;
	padding: 0;
	transition: all 0.3s;
}

.buttonAb a span {
	box-sizing: border-box;
	position: relative;
	display: block;
	border-radius: 0.5em;
	padding: .4em 2em;
	transition: all 0.3s;
}

.buttonAb a span {
	border: 0;
	color: #fff;
	background-color: #f90;
}

.buttonAb a span:before {
	display: inline-block;
	content: "";
	background-repeat: no-repeat;
	background-size: contain;
	transition: all 0.3s;
}

.buttonAb a span:before {
	width: 100px;
	height: 1em;
	vertical-align: text-bottom;
	background-image: url(../images/Amazon-SmileW.svg);
}

.buttonAb a:before {
	box-sizing: border-box;
	position: absolute;
	bottom: -15px;
	left: 0;
	width: 100%;
	height: 30px;
	border-radius: 0 0 .5em .5em;
	content: "";
	transition: all 0.3s;
}

.buttonAb a:before {
	border: medium solid #000;
	background-color: #000;
}

.buttonAb a:hover {
	transform: translate(0, 7px);
}

.buttonAb a:hover:before {
	bottom: -8px;
}

.buttonA a span:active {
	color: #f90;
	background-color: #fff;
	transition: all 0.3s;
}

.buttonAb a:active {
	transform: translate(0, 14px);
}

.buttonAb a:active:before {
	bottom: -.1px;
}

.buttonAb a span:active:before {
	background-image: url(../images/Amazon-Smile.svg);
	transition: all 0.3s;
}